@media(max-width: 375px){
    .header{
        width: 375px;
        height: 30vh;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .header .navegation .lista-da-navegation{
        flex-direction: column;
    }

    .header .navegation .lista-da-navegation li{
        margin-top: 20px;
        text-align: center;
    }

}